.footer{   
    position:absolute;
    bottom:0; 
    width:100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    background-color:black;
}

.footer__left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__main{
    width:90%;
    color:white; 
    display: flex;   
}

.footer__middle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.footer__middle > .MuiSvgIcon-root{
    transform: scale(1.05); 
    /* transform: scale(1.02); */
    transition: ease-in-out 0.3s;
}

.footer__right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    align-items: center;
}


.footer__right > Button {

    background-color:#FF4397;
    background-image:linear-gradient(to right,
    #FF4397,
    #FCC24C,
    #b7ff79,
    #8cfabb,
    #526FAA,
    #8852A8
    );
    width: 40%;
    /* padding: 10px; */
    font-size: 120%;
    padding-left: 50px;
    padding-right: 50px;
    color:black;
    font-weight: 900;
    font-family: "Roboto Condensed",Arial,sans-serif;
    /* transition: width 5s linear 1s; */
    animation: transitionIn 1s;
    transition: ease-in-out 0.3s;
}

.footer__right > Button:hover{
    transform: scale(1.05); 
    /* transform: scale(1.02); */
    transition: ease-in-out 0.3s;
    
}


 @media only screen and (max-width: 600px) {
    .footer__main {
        flex-direction: column;
    }

  } 