.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}


.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
} 

 .nav-menu {
  display: flex;
  text-align: center;
  width: 90vw;
  justify-content: space-between;
} 

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color:#FF4397;
    background-image:linear-gradient(to right,
    #EC6863,
    #F8B276,
    #FAE99B,
    #36DDC3,
    #5B83E3,
    #837CE3 
    );
  /* background-color: lightgray; */
  transition: all 0.2s ease-out;
  color: black;
}
.nav-menu.active{
  colour:red;
}



.fa-bars {
  color: black;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .navbar{
    height:0;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 10vh;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    /* background: #050505; */
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: lightgray;
    border-radius: 0;
  } 


  .menu-icon {
    color:black;
    top: 2%;
    left: 10%;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    align-items: center;
    display: flex;
    position:fixed;
    z-index: 11;
  }

  .fa-times {
    color: black;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    background-color:lightgray;
    transition: 250ms;
  }

  .nav-links:hover {
    transition: all 0.2s ease-out;
    color: black;
} 

}
