*{
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Montserrat', sans-serif;

  font-size: calc(8px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.headerMotto > h2{
  font-family: 'Dancing Script', cursive;
}

img{
  width: 100%;
}

@media only screen and (max-width: 600px){
  *{
    font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
}
